:host {
  .nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 20px;

    &__search {
      width: 100%;
      margin-left: 20px;

      #search {
        width: 100%;
      }
    }
  }

}
